# Import the library

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
%matplotlib inline 
%config InlineBackend.figure_format = 'png'

 # EDA Steps:


 Read in the stations(trip.csv) csv called df.

In [19]:


df = pd.read_csv('trip.csv')

Look at the first five rows of the data set.

In [20]:
df.head()

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127
1,4607,70,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138
2,4130,71,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214
3,4251,77,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060
4,4299,83,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103


Column names

In [ ]:

df.columns
plt.plot(['duration'], 'g');
r=df.mean()
plt.plot(r, c='g');

Tail names

In [ ]:
df.tail()

In [4]:
df.describe()

,id,duration,start_station_id,end_station_id,bike_id
count,669959.000000,6.699590e+05,669959.000000,669959.000000,669959.000000
mean,460382.009899,1.107950e+03,57.851876,57.837438,427.587620
std,264584.458487,2.225544e+04,17.112474,17.200142,153.450988
min,4069.000000,6.000000e+01,2.000000,2.000000,9.000000
25%,231082.500000,3.440000e+02,50.000000,50.000000,334.000000
50%,459274.000000,5.170000e+02,62.000000,62.000000,440.000000
75%,692601.000000,7.550000e+02,70.000000,70.000000,546.000000
max,913460.000000,1.727040e+07,84.000000,84.000000,878.000000

In [ ]:
df.isna().sum()

In [ ]:
df['start_date']=pd.to_datetime(df['start_date'])

In [ ]:
df['end_date']=pd.to_datetime(df['end_date'])

In [ ]:
df.info()

In [5]:
df.start_date.value_counts().sort_index() # Sort

1/1/2014 0:14    2
1/1/2014 0:17    1
1/1/2014 0:23    2
1/1/2014 0:24    2
1/1/2014 0:25    3
                ..
9/9/2014 9:52    1
9/9/2014 9:53    3
9/9/2014 9:54    1
9/9/2014 9:55    1
9/9/2014 9:59    2
Name: start_date, Length: 361559, dtype: int64

In [6]:
df.shape

(669959, 11)

Drop all unimportant columns

In [7]:
df.drop(['start_station_id'], axis=1, inplace=True)

In [8]:
df.drop(['id'], axis=1, inplace=True)

In [9]:
df.drop(['zip_code'], axis=1, inplace=True)

In [10]:
df.drop(['bike_id'], axis=1, inplace=True)

In [11]:
df.drop(['end_station_id'], axis=1, inplace=True)
df

,duration,start_date,start_station_name,end_date,end_station_name,subscription_type
0,63,8/29/2013 14:13,South Van Ness at Market,8/29/2013 14:14,South Van Ness at Market,Subscriber
1,70,8/29/2013 14:42,San Jose City Hall,8/29/2013 14:43,San Jose City Hall,Subscriber
2,71,8/29/2013 10:16,Mountain View City Hall,8/29/2013 10:17,Mountain View City Hall,Subscriber
3,77,8/29/2013 11:29,San Jose City Hall,8/29/2013 11:30,San Jose City Hall,Subscriber
4,83,8/29/2013 12:02,South Van Ness at Market,8/29/2013 12:04,Market at 10th,Subscriber
...,...,...,...,...,...,...
669954,619,9/1/2014 4:21,Powell Street BART,9/1/2014 4:32,Townsend at 7th,Subscriber
669955,6712,9/1/2014 3:16,Harry Bridges Plaza (Ferry Building),9/1/2014 5:08,San Francisco Caltrain (Townsend at 4th),Customer
669956,538,9/1/2014 0:05,South Van Ness at Market,9/1/2014 0:14,5th at Howard,Customer
669957,568,9/1/2014 0:05,South Van Ness at Market,9/1/2014 0:15,5th at Howard,Customer
669958,569,9/1/2014 0:05,South Van Ness at Market,9/1/2014 0:15,5th at Howard,Customer

In [12]:
df['duration'].median()

517.0

In [13]:
df['duration'].mean()

1107.9498461846172

In [14]:
df['end_station_name'].min()

'2nd at Folsom'

In [15]:
df.describe()

           duration
count  6.699590e+05
mean   1.107950e+03
std    2.225544e+04
min    6.000000e+01
25%    3.440000e+02
50%    5.170000e+02
75%    7.550000e+02
max    1.727040e+07

In [ ]:
plt.figure(figsize=[16,8])
plt.grid()
plt.xlabel('The years',fontsize = 15)
plt.ylabel('Number of user',fontsize = 20);
plt.title(' The bike use station',fontsize = 20, weight = 'bold');
plt.hist(df['start_date'],bins= 30 ,edgecolor="g" );
plt.savefig('Thebike.png')

In [ ]:
top_5_stations = df[df['start_station_name']!=0][['start_station_name','start_date','duration','end_station_name']].sort_values(by= 'start_date',ascending=False).head(5)
top_5_stations

In [ ]:
df['subscription_type'].unique()

In [ ]:
df['subscription_type'].value_counts()

In [ ]:
plt.figure(figsize=[17,6])
plt.title('User Subscription',fontsize = 30, weight = 'bold', color='grey');
new_x = df['subscription_type'].value_counts()

plt.pie(new_x,labels=['Subscriber','Customer'],colors= ['#76EEC6','#FF7256'],explode = (0,0.2),autopct='%1.0f%%');

plt.savefig('Theuser.png')

In [ ]:
df.groupby(['subscription_type']).sum().plot(kind='pie',y='duration')
plt.savefig('Thebie.png')